<%- include('partial/header'); -%>
<%- include('partial/title'); -%>
<%- include('partial/skills'); -%>
<%- include('partial/education'); -%>
<%- include('partial/experience'); -%>

<!-- Abilities -->
<h1>Abilities</h1>

<%- include('partial/footer'); -%>
